*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1E2A39;
  width: 100%;
  padding: 0 2.3rem;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  color: #fff;
}

.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  flex-direction: column;
  background-color: #1E2A39;
  border: 0 solid;
}
.burger-menu span {
  background-color: #fff;
  height: 0.3rem;
  width: 2.2rem;
  border-radius: 0.2rem;
}

.career {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-direction: column;
}
.career .text_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: none;
  flex-direction: column;
}
.career .text_container h1 {
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  line-height: 0.4rem;
}
.career .text_container .paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  font-family: "Poppins";
  color: #fff;
  line-height: 2.8rem;
  text-align: center;
  margin-top: 2rem;
}
.career .text_container div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.career .text_container div .get_started {
  padding: 0.5rem 2.3rem;
  border-radius: 1.2rem;
  background-color: white;
  color: black;
}
.career .text_container div figure {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 50%;
  align-items: center;
}
.career .text_container div figure img {
  margin-right: auto;
  margin-left: auto;
}
.career .text_container div p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
}

.rectangle-div {
  background-color: #E8DB84;
  border-radius: 0.8rem;
  height: 17.5rem;
  width: 21.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: none;
}
.rectangle-div .girl-img {
  width: 18.1rem;
  height: 20rem;
  margin-left: -10rem;
  margin-top: -3.5rem;
  width: auto;
}
.rectangle-div .card-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  margin-left: 4rem;
}
.rectangle-div .card-container .card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.rectangle-div .card-container .card p {
  font-size: 1rem;
  font-family: "Avenir LT Std";
  font-weight: 700;
  color: #1E2A39;
  text-align: center;
}
.rectangle-div .card-container .card .card-content {
  font-size: 0.9rem;
  font-weight: 350;
  color: #2E2E2E;
}
.rectangle-div .card-container .cards-width {
  width: 8.5rem;
}

@media (min-width: 768px) {
  .career {
    flex-direction: row;
  }
  .text_container {
    align-items: start !important;
  }
  .paragraph {
    text-align: start !important;
  }
}
.mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: none;
  padding: 3.2rem 0;
}

.theme-icon {
  background-color: #1E2A39;
  border: 0 solid;
}

.heading {
  font-size: 3rem;
  background: linear-gradient(to right, #D9D9D9, #5C90D4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 0.2rem;
}

.heading::after {
  content: "";
  border-radius: 50%;
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #1576D8;
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    background-color: #052A44;
    margin-top: 2rem;
    padding: 3.3rem 3rem;
  }
  .desktop h1 {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins";
    line-height: 100%;
  }
  .desktop ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.2rem;
  }
  .desktop ul li a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    font-family: "Poppins";
  }
  .desktop .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .desktop .buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }
  .desktop .buttons div .sign-in, .desktop .buttons div .free-trial {
    padding: 1.5rem 4.3rem;
    border-radius: 1.2rem;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    font-family: "Poppins";
  }
  .desktop .buttons div .sign-in:hover, .desktop .buttons div .free-trial:hover {
    background-color: #fff;
    color: black;
  }
}/*# sourceMappingURL=main.css.map */