@use "../abstracts/mixin";
@use "../abstracts/variables";
@use "../base/reset";

.burger-menu{
    @include mixin.flex($flex:flex ,$align:center, $justify:center, $gap-size:0.4rem);
    flex-direction: column;
    background-color: variables.$dark-theme;
    border: 0 solid;
    
    span{
        background-color: variables.$span-burger-menu-color;
        height: 0.3rem;
        width: 2.2rem;
        border-radius: 0.2rem;
    }
}
#my-popover{
    margin-left: var(--margin-left);
    margin-top: var(--margin-top);
    border: none;
    position: absolute;
    animation: slidein 1s ease 0s 1 forwards;
    width: 100%;

}
:root{
    --margin-left:0px;
    --margin-top:9rem;
}
.burger-nav{
    padding: 10rem 1rem;
    background-color: variables.$dark-theme ;
}
@keyframes slidein {
    from{
        transform: translateX(-400px);
    }
    to{
        transform: translateX(0);
    }
}
.burger-button-list{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.burger-button-item{
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Poppins';
    line-height: 100%;
    transition: background-color 3s linear;
    padding: 1.5rem 4.2rem;
    border-radius: 1.2rem;
}

body:has(#theme-toggle:checked) {
   .burger-nav{
    background-color: white;
        .burger-button-item{
            color: black!important;
        }
   }
   .burger-button-item:hover{
        background-color: variables.$dark-theme ;
        color: white!important;
   }
}