@use "../abstracts/variables";
@use "../abstracts/mixin";
@use "../base/reset";
.career{
    margin-top: 4rem;
    @include mixin.flex($flex:flex, $align:center, $justify:center,$gap-size:3rem);
    flex-direction: column;
    .text_container{
        @include mixin.flex($flex:flex, $align:center, $justify:center,$gap-size:none);
        flex-direction: column;
        h1{
            font-size: 3.6rem;
            font-weight: 600;
            letter-spacing: 0.02rem;
            line-height: 0.4rem;
        }
        .paragraph{
            @include mixin.a($weight:400);
            color:variables.$text-color;
            line-height: 2.8rem;
            text-align: center;
            margin-top: 2rem;
        }
        div{
            @include mixin.flex($flex:flex, $align:center, $justify:center,$gap-size:0.8rem);
            .get_started{
                @include mixin.get-strated($color:white)
            }
            figure{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 4rem;
                height: 4rem;
                background-color: white;
                border-radius: 50%;
                align-items: center;
                img{
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            p{
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 100%;
                color: variables.$text-color;
            }
            
        }   
 
    }
}

.rectangle-div{
    background-color: variables.$rectangle-div-color;
    border-radius: 0.8rem;
    height: 17.5rem;
    width:21.7rem;
    @include mixin.flex($flex:flex ,$align:center, $justify:center, $gap-size:none) ;
    // position:relative;
    // margin-top:5rem;
    .girl-img{
        // position: absolute;
        width: 18.1rem;
        height: 20rem;
        margin-left: -10rem;
        margin-top: -3.5rem;
        width: auto;

    }
    .card-container{
        // position: absolute;
        @include mixin.flex($flex:flex, $align:stretch, $justify:center,$gap-size:0.5rem);
        flex-direction: column;
        margin-left: 4rem;
        // margin-top: 0.5rem;
        .card{
            @include mixin.flex($flex:flex, $align:center, $justify:center,$gap-size:0.3rem);
            flex-direction: column;
            background-color: variables.$card-backgorund-color;
            border-radius: 0.5rem;
            padding: 0.3rem;
            p{
                font-size: 1rem;
                font-family: 'Avenir LT Std';
                font-weight: 700;
                color: variables.$cards-text-color-heading;
                text-align: center;
            }
            .card-content{
                font-size: 0.9rem;
                font-weight: 350;
                color: variables.$cards-text-color;
            }       
        }
        .cards-width{
            width: 8.5rem;
        }
    }
}
@media (min-width:768px){
    .career{
        flex-direction: row;
    }
    .text_container{
        align-items: start !important; 
    }
    .paragraph{
        text-align: start !important;
    }
   
}