@use "../abstracts/variables";
@use "../abstracts/mixin";
@use "../base/reset";
footer{
    margin-top: 4rem;
    padding-bottom: 4rem;
    h1{
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        line-height: 100%;
        color: variables.$text-color;
    }
    address{
        margin-top:4rem ;
        @include mixin.flex($flex:flex ,$align:center, $justify:center, $gap-size:2rem) ;
        flex-direction: column;
        p{
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 100%;
            color: variables.$text-color;
            font-style: normal;
            padding-bottom: 2rem;
        }
        a{
            display: inline-block;

            // margin-top: 1rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 100%;
            color: variables.$text-color;
            font-style: normal;
        }
        
        .phone{
            display: flex;
            flex-direction: column;
        }
        .footer-icons{
            @include mixin.flex($flex:flex ,$align:center, $justify:center, $gap-size:2rem) ;
            div{
                border: 0.1rem solid white;
                width: 3.3rem;
                height: 3.3rem;
                border-radius: 50%;
                // background-color: red;
                align-content: center;
                padding-left: 0.8rem;
            }
        }

        
    }
}
hr{
    display: none;
}
.copy{
    display: none;
}
@media (min-width:768px){
    .footer-heading{
        text-align: start!important;
    }
    address{
        flex-direction: row !important;
        justify-content: space-between !important;
        margin-top: 0!important;
    }
    hr{
        margin-top: 2rem;
        display: flex;
        padding:0 !important;
    }
    .copy{
        display: flex;
        font-weight: 300;
        font-size:1.6rem ;
        line-height: 180%;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 2rem;
    }
    footer address a{
        text-align: start!important;
    }
    
}