@use "../abstracts/variables";
@use "../base/reset";
@use "../abstracts/mixin";

nav{
    @include mixin.flex($flex:flex, $align:center, $justify: space-between, $gap-size:none,);
    padding: 3.2rem 0 ;
}
.theme-icon{
    background-color: variables.$dark-theme;
    border: 0 solid;
}
.heading{
    font-size: 3rem;
    background: linear-gradient(
        to right,
        variables.$logo-first-gradient,
        variables.$logo-second-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    @include mixin.flex($flex: flex, $align:center,$justify:none, $gap-size:0.2rem)
} 
.heading::after{
    content : "";
    border-radius: 50%;
    display: inline-block;
    width: 0.6rem;
    height:0.6rem;
    background-color: variables.$color-of-dot-of-logo;
}
.header-icons{
    @include mixin.flex($flex:flex, $align:center, $justify: space-between, $gap-size:3rem,);
}