@use "../abstracts/variables";
@use "../abstracts/mixin";
@use "../base/reset";

.stories-section {
    display: none;
}

/* Stories-Section Desktop Version (1113px+) */
@media (min-width: 1113px) {
    .stories-section {
        display: grid;
        
        width: 100%; 
        max-width: 100%;
        height: 59.8rem;
        margin: 4.0rem auto;
        padding: 0 9.6rem;
        
        grid-template-columns: 51.5rem 46.2rem; 
        grid-template-areas: 
            "content illustration"
            "button illustration";
        
        justify-content: center; 
        align-items: center;
        column-gap: 8.7rem;
        position: relative;

        .illustration-container {
            grid-area: illustration;
        }

        .content-wrapper {
            grid-area: content;
        }

        .cta-wrapper {
            grid-area: button;
            align-self: start;
        }
    }
}