@mixin flex($flex ,$align, $justify, $gap-size) {
  display: $flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap-size;
}

@mixin a($weight){
  font-weight: $weight;
  font-size: 1.6rem;
  line-height: 100%;
  font-family: 'Poppins';
}

@mixin get-strated($color){
  padding: 0.5rem 2.3rem;
  border-radius: 1.2rem;
  background-color: $color;
  color: black;
}