$dark-theme:#1E2A39;
$logo-first-gradient:#D9D9D9;
$logo-second-gradient:#5C90D4;
$span-burger-menu-color:#fff;
$text-color:#fff;

$mobile-margin: 2.1rem;
$desktop-margin: 10rem;

$color-of-dot-of-logo: #1576D8;
$desktop-nav-bar-color : #052A44;
$learn-more-button : #052A44;
$rectangle-div-color:#E8DB84;
$card-backgorund-color:#fff;
$cards-text-color:#2E2E2E;
$cards-text-color-heading:#1E2A39;
